body, td, th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}

label {
	display: inline-block;
	min-width: 3.25em;
}

input[type=text] {
	width: 6em;
}

.demo {
	border: #DDD 1px solid;
	box-sizing: border-box;
}

.config {
	margin: 1em;
}

/* Classes to add to or override mithril-slider styles */
.app-slider {
	background-color: #F8F8F8;
}

.app-slider .mithril-slider-handle {
	background-color: rgba(255,255,255,0.5);
}
.app-slider:active .mithril-slider-handle {
	background-color: #FF4;
}
